<div id="sidestats_loading" align="center"><img width="76" height="76" src="/plugin/stats/static/img/loading.gif"></div>
<div id="stats_side_nodata" style="display:none;" align="center">No Data</div>
<div id="stats_side_data" style="display:none;">
    <div id="daystats_sidebar" style="display: none;">
        <canvas id="sidecanvas_daystat" class="chart" height="300" width="300"></canvas>
    </div>
    <div id="printstats_sidebar" style="display: none;">
        <canvas id="sidecanvas_printstat" class="chart" height="300" width="300"></canvas>
    </div>
    <div id="kwhstats_sidebar" style="display: none;">
        <canvas id="sidecanvas_kwhstat" class="chart" height="300" width="300"></canvas>
    </div>
</div>