<!-- ko allowBindings: true -->
<h4>{{ _('Power usage') }}</h4>
Specify the consumption of your printer in watts.<br />
<form id="settings_plugin_stats_form" class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('PCB Heatbed') }}</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" step="any" min="0" class="input-mini text-right" data-bind="value: settings.plugins.stats.pcbheatbed" id="stats_pcbheatbed">
                <span class="add-on">watts</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Hotend') }}</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" step="any" min="0" class="input-mini text-right" data-bind="value: settings.plugins.stats.hotend" id="stats_hotend">
                <span class="add-on">watts</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Stepper motors') }}</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" step="any" min="0" class="input-mini text-right" data-bind="value: settings.plugins.stats.steppermotors" id="stats_steppermotors">
                <span class="add-on">watts</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Cooling fans and electronics') }}</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" step="any" min="0" class="input-mini text-right" data-bind="value: settings.plugins.stats.eletronics" id="stats_eletronics">
                <span class="add-on">watts</span>
            </div>
        </div>
    </div>

<h4>{{ _('Show sidebar') }}</h4>
Specify charts for show in sidebar.<br />

    <div class="control-group">
        <label class="control-label">{{ _('Day print stats') }}</label>
        <div class="controls">
            <div class="input-append">
                <input type="checkbox" data-bind="checked: settings.plugins.stats.dayprint" id="stats_dayprint">
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Day kWh stats') }}</label>
        <div class="controls">
            <div class="input-append">
                <input type="checkbox" data-bind="checked: settings.plugins.stats.daykwh" id="stats_daykwh">
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Day stats') }}</label>
        <div class="controls">
            <div class="input-append">
                <input type="checkbox" data-bind="checked: settings.plugins.stats.daystats" id="stats_daystats">
            </div>
        </div>
    </div>
    <div class="control-group">
        <a title="Remove Stats History" class="btn btn-danger" id="resetStats"><i class="fa fa-trash-o"></i> Remove Stats History</a>
    </div>

</form>
<!-- /ko -->